
{block content}
<div id="banner">
	<h1 n:block=title>Moonlake menu</h1>
</div>

<div id="content">

<h3>Kategorie</h3>
{foreach $kategories as $kategorieK => $kategorieN}
    {$kategorieK}  {$kategorieN} <br>
{/foreach}

<h3>Menu</h3>
{block #menu}
<ul>
    {foreach $menu as $klic => $prvek}

        <li>{$kategories[$klic]}</li>

        {include #this, menu => $prvek}
    {/foreach}
</ul>
{/block}

</div>
{/block}





